body {
    background-image: "imagens/fundo.png";
}

table {
    width: 500px;
    background-color: #D3D5BD;
    padding: 20px 0 20px 10px;
}

#table {
    background-color:  #D3D5BD;
}

div {
    width: 900px;
}

p {
    text-align: justify;
}

footer {
    text-align: center;
}